@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik+80s+Fade&display=swap');
html,body{
    height: 100%;
    width: 100%;    
    font-family: 'Montserrat', sans-serif;
background-color: black;
color: white;

}
.row
{
    margin: 5px 0;
}
.button
{
    border: 2px solid black;
    cursor: pointer;
    border-radius: 6px; 
    width: 30px;

}
.row input
{
    margin: 0%;
    padding: 0%;
    max-width: 125px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
}